<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Форум</title>
</head>
<body>
    <h1>Форум</h1>
    <ul>
        {% for forum in forums %}
            <li>
                <a href="/forum/{{ forum.id }}">{{ forum.title }}</a>
            </li>
        {% endfor %}
    </ul>
</body>
</html>