<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>{{ forum.title }}</title>
</head>
<body>
    {% block content %}
    <h1>{{ forum.title }}</h1>
    <p>{{ forum.description }}</p>
    <p>Автор: {{ forum.created_by }}</p>
    <p>Опубликовано: {{ forum.created_at }}</p>
    {% endblock %}
</body>
</html>